body {
    margin: 0;
    background-color: white;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas:
    "header header header header header header"
    "menu content content content content content"
    "footer footer footer footer footer footer"
    ;
}

header {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    background: linear-gradient(90deg, rgb(121, 4, 4), black) ;
    box-shadow: 5px 10px 5px rgb(10, 10, 10);
}
.titulo {
    font-size: 100px;
    margin-right: 400px;
    margin-left: 500px;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 5px 5px #000;
}

header .logo  img{
  display: inline-flex;
  position: absolute;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 25px;
 
}
.logo-1 {
  z-index: 1;
  display: inline-flex;
  position: absolute;
  left: 90px;
  top: 30px;
}

.logo-2 {
  z-index: 1;
  display: inline-flex;
  position: absolute;
  left: 90px;
  top: 70px;
}
 

.item {
    background-color: rgb(121, 4, 4);
    padding: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

aside {
    display: flex;
    justify-content: start;
    align-content: flex-start;
    top:100px;
    right:0;
    z-index:999;
    height: 100vh;
    display:flex;
    background-color: #0707074f;
 }

 nav a {
    display: block;
   
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#1b1b1b63;
    color: white;
    border-radius: 5px;
    
  }

  .menu {
    margin: 0;
    padding: 0;
  }

  section {
    height: 100vh ;
  }

  #menu-opener {
    width:40px;
    height:40px;
    cursor:pointer;
    margin-top:10px;
    margin-right:10px;
 }
 #menu-area {
    width:0px;
    height:auto;
    margin-top: 20px;
    background:rgba(194, 10, 10, 0.342);
    overflow-x:hidden;
    overflow-y:auto;
    transition: all ease .5s;
 }
 #menu-area ul, #menu-area li {
    padding:0;
    list-style:none;
 }
 #menu-area li {
    display:block;
    padding:10px;
    color:#555;
    cursor:pointer;
 }
 #menu-area li:hover {
    background:rgba(177, 8, 8, 0.651);
 }
 
 
 nav ul,
 nav li {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 nav ul{
    display: flex;
    flex-direction: column;
 }
 nav a {
    display: block;
   
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#1b1b1b63;
    color: white;
    border-radius: 5px;
    
  }
 
  nav :active a,
  nav a:hover {
    background-color: red;
    animation: backwards;
 
  }

  section {
    display: inline-flex;
    justify-content: flex-start;
    align-content: flex-start;

  }
  

  .container-left {
    display: flex;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    transition: all .6s;
    
   
  }

  .container-left img {
    object-fit: cover;
    width: 48vw;
    height: 100vh;
    border-radius: 5px;
    
  }

  .container-right {
    flex: 1;
    object-fit: contain;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;
    
    
  }

  .container-right img {
    object-fit: cover;
    flex: 1;
    height: 100vh;
    width: 100%;
    
  
  }

  .subtitulo {
    display: block;
    background:linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.753));
    color: white;
    position: absolute;
    bottom:1px;
    width: 100%;
    transition: ease-in-out 2s linear;
    
    
    
  }

  .subtitulo:hover {
    opacity: 2;
    background:linear-gradient(rgba(7, 7, 7, 0.253), rgba(206, 44, 3, 0.329));
    -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.1);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in;
        transform: scale(1.1);
    
  }

  h1, p {
    margin-left: 30px;
  }
 
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    
  }

  p {
   font-size: 19px;
   margin-top: 0;
   margin-bottom: 30px;
  }
  

  footer {
    background: linear-gradient(90deg, rgb(121, 4, 4), black) ;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
  }












header {
    grid-area: header;
}

aside {
    grid-area: menu;
    
}

.menu {
    list-style: none;
    text-decoration: underline none;
    
}

a {
    text-decoration: none;
    color: white;
}

section {
    grid-area: content;
}

footer {
    grid-area: footer;
}