* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, black , rgb(121, 4, 4))
}
.leftside img {
    z-index: 1;
    margin-top: 120px;
    top: 100px;
    max-width: 500px;
    height: auto;
}
.leftside .titulo {
    display: flex;
    z-index: 0;
    justify-items: start;
    position: absolute;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 90px;
    margin-top:-160px;
    top: 5px;
    margin-left: 20px;
    text-shadow: 7px 7px 5px #000;
    
    
    
}

.rightside {
    border-left: 1px solid #000;
    width: 500px;
    background-color:rgb(121, 4, 4);
    height: 100vh;
    padding: 50px;
    color: white;
    text-shadow: 5px 5px 5px #000;
}

.rightside h1{
    margin-bottom: 50px;
    font-size: 40px;
}

.rightside label {
    display: block;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px #000;
    text-decoration: none;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 18px;
    outline: 0;
}

.rightside .conta {
    font-size: 20px;
}

.rightside .conta a {
    text-decoration: none;
    color: #fff;
}
.rightside .conta a:hover {
    text-decoration: underline;
}

.error {
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.555);
    color: #fff;
    padding: 4px;
    border-radius: 5px;

}